{% comment %}
  Simple Quick Add
  - Adds first available variant to cart
  - No modal
  - No JS
{% endcomment %}

{% assign variant = product.selected_or_first_available_variant %}

{% if variant.available %}
  <form
    class="simple-quick-add"
    data-variant-id="{{ variant.id }}"
  >
    <button
      type="button"
      class="simple-quick-add__button"
      aria-label="Add {{ product.title }} to cart"
    >
      <span class="icon icon--add">
        {{ 'icon-add-to-cart.svg' | inline_asset_content }}
      </span>
      <span class="icon icon--check">
        {{ 'icon-check.svg' | inline_asset_content }}
      </span>
    </button>
  </form>
{% endif %}


<style>
  .simple-quick-add__button {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.simple-quick-add__button .icon {
  position: absolute;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.icon--check {
  opacity: 0;
  transform: scale(0.5);
}

.simple-quick-add__button.is-added .icon--add {
  opacity: 0;
  transform: scale(0.5);
}

.simple-quick-add__button.is-added .icon--check {
  opacity: 1;
  transform: scale(1);
}
</style>
